body {
    text-align:center;
    margin: 0px;
    font-family: 'Merriweather', serif;i
    color:#40514E;
}

.copyright {
    position:relative;
    color:#EAF6F6;
    top:50px;
}

.footer-link {
    position:relative;
    padding:20px;
    top:40px;
}

.top-container {
    background-color: #e4f9f5;
    padding-top:100px;
    position:relative;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color:#66BFBF;
    margin-bottom:0;
    height:150px;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color:#66BFBF;
}
h2 {
    font-family: 'Yusei Magic', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
}

h3 {
    font-family: 'Yusei Magic', sans-serif;
    color:#11999E;
}

a {
    color:#11999E;
}

.contact {
    width:30%;
    margin:auto;
    line-height:2;
}

.bottom-cloud {
    position:absolute;
    top:300px;
    left:500px;
}

.top-cloud {
    position:absolute;
    top:50px;
    right:600px;
}

.skill-row {
    width:50%;
    margin: 100px auto;
    text-align:left;
    line-height:2;
    padding:30px;
}

.code-img {
    width:25%;
    float:left;
    margin-right:20px;
}

.data-img {
    width:25%;
    float:right;
    margin-right:20px;
}

.web-img {
    width:25%;
    float:left;
    margin-right:20px;
}

span {
    text-decoration: underline;
}

.intro {
    width:30%;
    margin:auto;
    line-height:2;
    text-align:left;
}

#programmer {
    font-weight: normal;
}

hr {
    border:none;
    width:5%;
    border-top: 10px dotted;
    color:#252525;
    margin:70px auto;
}


.BUTTON_QKH {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 6px;
   line-height: 6px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 129px;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top:30px
}

.BUTTON_QKH:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}